@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0px; 
    padding: 0px;
    outline: 0px;
    font-family: "Open Sans";
}

nav{
    padding: 8vh;
    margin-bottom: 20px;
}

.logo > img{
    float: left;
    margin-left: 12vh;
    height: 30px;
}

.nav-items{
    float: right;
}

.header{
    background-color: #7030cc;
    color: white;
}

.nav-icon{
    display: none;
}

.head , .mid{
    display: flex;
    justify-content: space-between;
}

.sub-head , .sub-mid{
    flex: 1;
}

.bot > h1{
    text-align: center;
    margin: 8vh;
}

.card{
    margin: 0px 20vh;
    display: flex;
    gap: 5vh;
}

.circle {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    margin: auto;
}

.circle > img{
    margin: 5vh;
    height: 10vh;
}

.fst{
    background-color: #faeaeb;
}

.scd{
    background-color: #fbf0ee;
}

.tdh{
    background-color: #e9f4f6;
}

.fth{
    background-color: #f2e7f5;
}
 /* second-phase  */
.nav-item{
    margin-right: 7vh;
}

.ft{
    background-color: #1bbcef;
    padding: 2vh 2vh;
    font-size: 3vh;
    color: white;
    border : none;
    margin-right: 20vh;
}

.sub-head > h1 {
    margin-left: 30vh;
    margin: 8vh 20vh;
    font-size: 2.8rem;
}

.sub-head p {
    margin: 0 20vh;
}

.mid{
    margin:  0px 10vh;
    margin-top: 20vh;
}

.sub-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.inner-mid{
    margin:  0px 20px;
    display: flex;
}

.inner-mid > img{
    height: 20px;
    margin: 10px;
}

.cards{
    height: 300x;
    margin-bottom: 10vh;
    text-align: center;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(153, 152, 152);
}

.top-card{
    padding: 5vh 0px;
}

.circle-text{
    border: none;
    border-radius: 25px;
    padding: 10px ;
    
}

.circle-text:hover{
    background-color: #6429b7;
    color: white;
}

.circle-text > p{
    margin-top: 12px;
}

.nav-item:hover{
    color: #368de2;
    text-decoration:underline #a853d7;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    *{
        margin: 0px; 
        padding: 0px;
        outline: 0px;
        font-family: "Open Sans";
        /* border: 0.1px solid pink; */
    }
    
    nav{
        padding: 2vh;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .nav-items{
        display: none;
    }
    
    .logo > img{
        margin-left: 1vh;
    }
    

    .nav-icon{
        display: block;
    }
    
    .header{
        background-color: #7030cc;
        color: white;
    }
    
    .head  {
        flex-direction: column;
    }

    .mid{
        flex-direction: column-reverse;
    }
    
    .bot > h1{
        margin: 2vh;
    }
    
    .card{
        margin: 0px 2vh;
        display: flex;
        gap: 2vh;
    }
    
    .circle {
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
        margin: auto;
    }
    
    .circle > img{
        margin: 5vh;
        height: 10vh;
    }
    
    .fst{
        background-color: #faeaeb;
    }
    
    .scd{
        background-color: #fbf0ee;
    }
    
    .tdh{
        background-color: #e9f4f6;
    }
    
    .fth{
        background-color: #f2e7f5;
    }
     /* second-phase  */
    .nav-item{
        margin-right: 7vh;
    }
    
    
    .sub-head > h1 {
        margin-left: 3vh;
        margin: 1vh 2vh;
        font-size: 2.8rem;
    }
    
    .sub-head p {
        margin: 2vh;
    }
    
    .mid{
        margin:  0px 1vh;
        margin-top: 2vh;
    }
    
    
    .inner-mid{
        margin:  0px 20px;
        display: flex;
    }

    .card{
        gap: 1vh;
        flex-direction: column;
    }
    
    
    .cards{
        height: AUTO;
        margin-bottom: 10vh;
        text-align: center;
        border-radius: 25px;
        border: none;
        box-shadow: 2px 2px 2px 2px rgb(153, 152, 152);
    }
    
  }